* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar,
.navbar-collapse {
    flex-direction: column;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.navbar {
    width: 28%;
    height: 90vh;
    border-radius: 20px;
}

.navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
}

form input {
    margin-bottom: 0.7em;
}

.Card{
    width: 150px;
    height: 270px;
    background: #959595;
    padding: 20px;
    border-radius: 20px;
}

.img{
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
p{
    font-size: 1em;
    margin: 0 auto;
    display: block;
}

button{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.img1 {
    border-radius: 20px;
    background: url(../img/bg/paper.gif);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}